<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Breakfast</key>
	<array>
		<string>Scrambled eggs</string>
		<string>Biscuits and Gravy</string>
		<string>Cold Pizza</string>
		<string>Ham and Egg Sandwich</string>
		<string>Doughnuts</string>
		<string>Pancakes</string>
		<string>Cereal</string>
		<string>Oatmeal</string>
		<string>Fresh Fruit</string>
		<string>Bagel</string>
		<string>Waffles</string>
		<string>Crêpes</string>
		<string>French Toast</string>
	</array>
	<key>Lunch</key>
	<array>
		<string>Pizza</string>
		<string>Turkey Sandwich</string>
		<string>Salad</string>
		<string>Chicken Panini</string>
		<string>Cheese Quesadillas</string>
		<string>BLT</string>
	
	</array>
	<key>Dinner</key>
	<array>
		<string>Cheeseburger</string>
		<string>Steak</string>
		<string>Pasta</string>
		<string>Tacos</string>
		<string>Chicken Burrito</string>
		<string>Grilled Chicken Salad</string>
		<string>Salmon</string>
	</array>
	

</dict>
</plist>
